body
{
    max-width: 60%; margin-left: 20%; margin-top: 0; padding-top: 0;
}
header,footer{
    background-color: rgb(241, 11, 218);  padding-left: 50px; 
 }
 header {
    display: inline flex;
    min-width: 100%;
 }
 header div
 {
    min-width: 33%;
    float: right;
 }

 header div img
 {
    height: 100px;
 }

 header div button,a
 {
    background-color: rgba(255, 228, 196, 0);
    margin-top: 15%;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    border:0;
 }
 header div a
 {
    border:1px solid white;
    padding: 5px;
    border-radius:0.4;
    -webkit-border-radius:0.4;
    -moz-border-radius:0.4;
    -ms-border-radius:0.4;
    -o-border-radius:0.4;
}